/* app/globals.css */
@import "tailwindcss";

/* dein Basiskram */
html, body { min-height: 100%; }
body { background: #000; color: #fff; }

/* optional: font-salted Platzhalter */
.font-salted {
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, Inter, "Helvetica Neue", Arial, sans-serif;
}

